<app-header/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<div class="container min-vh-100 d-flex flex-column justify-content-center align-items-center pt-4">
    <div class="card shadow-lg w-100" style="max-width: 36rem; padding: 1.5rem;">
        <div class="card-header">
            <h3 class="card-title text-success">My Profile</h3>
            <h6 class="card-subtitle text-muted">Personal information, vehicle details, and RUC.</h6>
        </div>
        <div class="d-flex flex-lg-row-reverse flex-column align-items-center justify-content-between gap-3">
            <div class="text-center">
                <img src="https://i.imgur.com/wBWzOZo.png" alt="Profile Picture" class="rounded-circle" style="width: 12rem; height: 12rem;">
            </div>
            <div>
                <h5 class="fw-bold">Name:</h5>
                <p>{{user?.name}}</p>

                <h5 class="fw-bold mt-3">Email:</h5>
                <p>{{user?.email}}</p>

                <h5 class="fw-bold mt-3">Phone:</h5>
                <p>{{user?.phone}}</p>

                <h5 class="fw-bold mt-3">RUC:</h5>
                <p>{{user?.ruc}}</p>
            </div>
        </div>
        <div class="card-footer d-flex justify-content-center mt-4">
            @for (option of options; track option.title){
                <button [routerLink]="option.path" class="btn btn-success w-100">Edit Profile</button>
            }
        </div>
    </div>
</div>
