
<div class="card-container">

  <div class="columnaFor">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="group-label-placeholder" >
        <label for="name">Name</label>
        <input id="name" formControlName="name"  placeholder="Enter your full names"/>
      </div>

      <div class="group-label-placeholder">
        <label for="email">Email</label>
        <input id="email" formControlName="email" placeholder="name@example.com"/>
      </div>

      <div class="group-label-placeholder">
        <label for="phone">Phone</label>
        <input id="phone" formControlName="phone" placeholder="+51 123-456-789"/>
      </div>

      <button class="buttonSubmit" type="submit">Save Changes</button>
    </form>
  </div>


  <div class="columnaImag">
    <img *ngIf="profile" [src]="profile.image" alt="Profile Image">
  </div>
</div>
