<section id="vehiclesSection">

  <div class="container mx-auto px-4 sm:px-6 lg:px-28 py-6 flex-wrap items-center justify-between">
    <div class="container mr-auto px-4.5 py-4.5 flex-wrap items-center justify-between">
      <h1 class="text-4xl mr-auto font-bold text-customGreen">Find Minor Vehicles to Rent or Buy</h1>
    </div>
    <div class="container mr-auto px-4.5 py-6 flex items-center justify-between">
      <p>Find the nearest place to rent or buy smaller vehicles.</p>
    </div>



    <div>
      <google-map
        height="400px"
        width="750px"
        [center]="center"
        [zoom]="zoom"
        (mapClick)="moveMap($event)"
        (mapMousemove)="move($event)">


        <!-- Marcadores -->
        <map-marker *ngFor="let marker of markers"
                    [position]="marker.position"
                    title="Vehicle"
                    (mapClick)="markerClick()"></map-marker>
      </google-map>

      <div>Latitude: {{display?.lat}}</div>
      <div>Longitude: {{display?.lng}}</div>
    </div>

  </div>

</section>
