<section id="vehiclesSection">

  <div class="container mx-auto px-4 sm:px-6 lg:px-28 py-6 flex-wrap items-center justify-between">
    <div class="container mr-auto px-4.5 py-4.5 flex-wrap items-center justify-between">
      <h1 class="text-4xl mr-auto font-bold text-customGreen">Find Minor Vehicles to Rent or Buy</h1>
    </div>
    <div class="container mr-auto px-4.5 py-6 flex items-center justify-between">
      <p>Find the nearest place to rent or buy smaller vehicles.</p>
    </div>



    <div class="container mx-auto px-4">
      <gmpx-api-loader key="YOUR_API_KEY_HERE" solution-channel="GMP_QB_locatorplus_v10_cABDF"></gmpx-api-loader>
      <gmpx-store-locator map-id="DEMO_MAP_ID"></gmpx-store-locator>
    </div>

  </div>

</section>
